body{
    background-color: #ffffff; 
    margin: 0;
    padding: 0;
}

h1{
    text-align: center;
}

.title{
     text-align: center;
    background-color: rgb(222, 221, 220);
    color: rgb(8, 8, 8);
    margin: 0;
    padding: 10px 20px;
    font-size: 15px;
    text-decoration: none;
}

a{
color: #040404;
font-size: 20px;
text-decoration: none;
}

.titles{
    width: 100%;
    max-width: 600px;
    margin: 30px;
    font-size: 20px;
    border-bottom: none;
}

header {
background-color: rgb(210, 208, 208);
 gap: 16px;
font-size: 20px;
display: flex;
text-decoration: none;
padding: 20px 10px;
justify-content: flex-end;
}

.newblog{
    padding: 20px 40px;
    
}

.textIN{
    text-align: center;
}